- content_for(:title, @article.title)
.container-fluid
  .row
    .col-md-10.col-sm-8
      .panel.panel-default
        .panel-heading
          .panel-title
          %span文章
        .panel-body
          %table.table.table-striped
            .thead
              %tr
                %th标题
                %th内容
                %th图片
            .tbody
              %tr
                %td=@article.title
                %td=@article.content
                %td= image_tag @article.avatar.url