- content_for(:title, @article.title)
.container-fluid
  .row
    .col-md-8.col-md-offset-3
      .panel.panel-default
        .panel-heading
          .panel-title
          %span文章
        .panel-body
          %table.table.table-striped
            .thead
              %tr
                %th标题
                %th内容
                %th图片
            .tbody
              %tr
                %td=@article.title
                %td=@article.content
                %td= image_tag @article.avatar.url
              %tr
                %td{:colspan => 6}
                  = link_to "通过", complete_admin_article_path(@article), method: :patch, class: "btn btn-primary"
                  = link_to "拒绝", deny_admin_article_path(@article), method: :post, class: "btn btn-danger"