.main
  .container
    .row
      .col-md-6
        .panel
          .panel-body
            - if current_user＆.is_admin
              - @users.each do |user|
                %h2= link_to user.name, user
                = link_to user_path(user), method: :delete, data: { confirm: "Are you sure" } do
                  %i.fa.fa-trash


    
            