- content_for(:title, @user.name)
= render 'shareds/flash'
.row
  .col-md-9
    .panel.panel-wiki
    .panel.panel-default
      .panel-heading
        .panel-title
        %span资料

      .panel-body
        %h2= @user.name
        %h2= @user.phone
      - if right_user
        = link_to user_path(current_user), method: :delete, data: { confirm: "确定删除?" } do
          %i.fa.fa-trash