/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";

body{
  background-image: url(image_path("welcome_banner_image.jpg"));
	background-size: cover;
	background-repeat: no-repeat; 
} 

#bg{
  background-image: url("callout_background.jpg");
}
.panel{
  margin: 70px auto;
  padding-left: 8px;
  border: none;
  h2{
     font-size: 1em; 
  }
}

.navbar-nav{
  li{
    img{
      width: 10%;
      border-radius: 10%;
    }
  }
}

#index1{
  border-bottom: 1px solid #ccc;
  margin-left: 10px;
  p{
    float: left;
    margin: 10px auto;
    padding: 0 10px;
  }
  span{
    float: right;
    margin-right: 3em;
  }
  h2{
    font-size: 1em;
  }
  img{
    width: 8%;
    border-radius: 40%;
    }
}

#index{
  p{
    float: left; 
  }
  h4{
    padding-left: 70px;
  }
}


// #div{
//   margin: 0 auto;
//   padding-top: 30px;
//   width: 130px;
// }
#div2{
  text-align: center;
  font-size: 1em;
}

.panel-heading{
  border-bottom: 1px solid #ccc;
  height: 60px;
  h2{
    float: left;
    margin-top: 7px;
  }
}

#article_search{
  float: right;
  margin-top: 3px;
}
.fa{
  float: right;
  position: relative;
  padding-left: 8px;
  top: -12px;
  right: 10px;
}

ul{
  list-style: none;
}
.col-md-2{
  margin-top: 50px;
}

.form-group{
  margin-top: 15px;
}

.container1{
  text-align: center;
  .alert{
    font-size: 3rem;
  }
}

.span-count{
  position:relative;
  top: -15px;
  left:493px;
}
.span-count1{
  position: relative;
  float: right;
  top: -1.6em;
  left: 1.5em;
}

#user_image{
  margin-top: 8px;
}

.navbar-brand{
  margin-top: 20px;
  :hover{
    font-size: 1em;
    font-weight: 1em;
    background-color: white;
    text-decoration: none
  }
}
textarea.form-control{
  width:500px;
}

.fa.fa-heart{
  color: red;
}

#person{
  padding: 12px 18px;
}
#session_remember_me{
  float: left;
}
.remember{
  padding: 3px 8px;
}
// .form-group1{
//   float: right;
// }

li1{
  float: right;
  list-style: none;
  margin-right: 10px;
}