.wrapper{
  background: linear-gradient(top, #c04848 6%, #480048 100%);
  background: -webkit-linear-gradient(top, #c04848 6%, #480048 100%);
  background: -moz-linear-gradient(top, #c04848 6%, #480048 100%);
  background: -o-linear-gradient(top, #c04848 6%, #480048 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'Bree Serif', serif;
  color: white;
  font-weight: 100;
  h1 {
    font-size: 50px;
    margin-top: 0;
  }
  h3 {
    margin-bottom: 0;
  }
  span {
    display: inline-block;
    text-align: left;
    font-size: 26px;
  }
}