body{
  // background-image: image-url("welcome_banner_image.jpg");
	// background-size: cover;
	// background-repeat: no-repeat; 
  background: #eee;
}
// #bk{
//   background-image: image-url("callout_background.jpg");
// }
.navbar-wiki{
  background: #fff;
  margin-bottom: 2px;
  height: 0px;
}
#signin {
  z-index: 3000;
}

.modal-backdrop { z-index: 0 !important;}

.panel{
  padding-left: 8px;
  border: none;
  h2{
     font-size: 1em; 
  }
}
.dropdown-menu{
  li a:hover{
    background: blueviolet;
  }
}
.navbar-nav{
  li{
    img{
      width: 10%;
      border-radius: 50%;
    }
  }
}

#index1{
  height: 30px;
  position: relative;
  right: -27px;
  span{
    float: right;
    margin-right: 1em;
    margin-top: 19px;
    font-size: 14px;
    font-weight: bold;
  }
}
  #article_list{
      border-top: 0;
      border-left: 0;
  #article_image{
    img{
      width: 48px;
      height: 48px;
      border-radius: 50%;
      float: left;
      margin-top: -12px;
      }
      .article_username{
        float: left;
      }
      #article_title{
        float: left;
        margin-left: 7px;
      }
    }
  }



#index{
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  p{
    float: left; 
  }
}


 #div{
   margin-left: 12px;
   #img2{
     img{
      width: 48px;
      height: 48px;
      float: left;
      border-radius: 50%;
      margin-right: 8px;
     }
  }
  #destroy_comment{
    margin-top: -12px;
  }
}

  #comment_1{
    margin-top: 4px;
  }
#div2{
  text-align: center;
  font-size: 1em;
}

.panel-heading{
  border-bottom: 1px solid #ccc;
  height: 60px;
  h2{
    float: left;
    margin-top: 7px;
  }
}

#article_search{
  float: right;
  margin-top: 3px;
}
#like_heart{
  position: relative;
  top: 5px;
  right: 53px;
  color: #999999;
  
}
.fa{
  float: right;
  position: relative;
  padding-left: 8px;
  top: -20px;
  right: 10px;
}

ul{
  list-style: none;
}
.col-md-2{
  margin-top: 50px;
}

.form-group{
  margin-top: 15px;
}

.container1{
  .alert{
    font-size: 3rem;
  }
}


.span-count{
  width: 53px;
.user-avatar{
  margin-top: -9px;
img{
  position: relative;
  top: -22px;
  left: 9px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  }
 }
}
.span-count1{
  position: relative;
  float: right;
  top: -1.6em;
  left: 1.5em;
}

#user_image{
  margin-top: 8px;
}

.navbar-brand{
  margin-top: 20px;
  :hover{
    font-size: 1em;
    font-weight: 1em;
    text-decoration: none
  }
}
textarea.form-control{
  width:500px;
}

#person{
  padding: 12px 18px;
}
#session_remember_me{
  float: left;
}
.remember{
  padding: 3px 8px;
}
// .form-group1{
//   float: right;
// }

li1{
  float: right;
  list-style: none;
  margin-right: 10px;
}

#categories{
  padding-left: 0px;
  float: right;
  width: 150px;
}
#errors{
  ul{
    color: red;
  }
}

.input{
  margin-bottom: 8px;
}

.boolean{
  margin-left: 9px;
}

#header{
  img{
    height: 354px;
    width: 1348px;
  }
}
#avatar{
  img{
    width: 80px;
    border-radius: 50%;
    border: 5px solid rgb(23, 255, 255);
    position: relative;
    margin-top: -100px;
    left: 90%;
  }
}
#width{
  width: 1349px;
  padding:0px;
  height: 140%;
  margin-top: 0px;
  background: rgb(247, 249, 249);
  margin-left: -160px;
}
#info{
  text-align: center;
  font-size: 2em;
  color: #428bca;
  float: right;
  position: relative;
  top: -30%;
  

  img{
    width: 80%;
    margin-top: -10px;
    float: right;
  }
}
#title{
 text-align: center;
 font-size: 1em;
 color: red;
 float: right;
 margin-top: -100px; 
}

#footer{
  width: 53%;
  margin: 28px 56px;
#icon{
  width: 40px;
  height: 30px;
  font-size: 2em;
 }
}
.li2{
  position: relative;
  top: -30px;
}
.navbar-default {
   background-color:transparent;
   border-color:transparent;
}
.navbar-default .navbar-nav > li > a{
  color: #337ab7;
}

.nav li:hover{
  background: white;
}

.navbar-right{
  margin-right: -41px;
}

.container1 .alert{
  font-size: 1rem;
}
.container-fluid{
  margin-top: -56px;
}
#div4{
  margin-left:4em;
}

.bottom{
  margin-top: 3em;
}
#myCarousel{
  width: 287px;
  margin: -40px auto;
}

#ru{
  width: 30%;
}

#article-img{
  img{
    border-radius: 50%;
    width: 46px;
    height: 46px;
    float: right;
    margin-top: -20px;
  }
}
.info{
  position: relative;
  top: -20px;
  left: 15px;
}
#media{
  height: 12%;
}
.article-title{
  font-size: 2em;
}
#table{
  img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
}



// #myCarousel{
//   width: 1349px;
//   height: 1400.160px;
//   margin-left: -107px;
//   margin-top: -20px;
// }
//profile
  .user_image{
    float: right;
    img{
      border-radius: 50%;
      width: 96px;
      height: 96px;
    }
    .user_edit{
      margin: 13px;
    }
  }


.user{
  font-size: 1rem;
  color: #999;
}

  .notifications{
    margin-top: 25px;
  .badge{
    font-size: 1rem;
    background-color: red;
    margin-top: -22px;
    position: relative;
    left: 34px;
  }
}
.panel-default{
  padding: 0;
}
.notification_avater{
  float: left;
  img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    float: left;
  }
}
.notification_clear{
  float: right;
  margin: -10px;
}
#bg-img{
  margin-left: -14em;
  position: fixed;
  margin-top: -12px;
  img{
    height: 100%;
    margin-top: -12px;
  }
}

//show
#comment-text{
  padding: 0px;
  margin-top: 12px;
  position: absolute;
  width: 100%;
 
}
.panel-wiki2{
  padding: 0px;
  margin-top: 8px;
}
//注册／登录
.panel-wikis{
  margin: 24px;
}

#count_down{
  position: relative;
  top: -168px;
  font-size: 4em;
  color: red;
}
#count_down1{
  position: relative;
  top: -6em;
  font-size: 4em;
  color:#f0ffff;
  right: -9em;
  list-style-type: none;
}
//表单验证
label.error{
padding-bottom: 2px;
font-weight: bold;
color: red;
}
input.error{
  border-color: #a94442 !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #a94442 !important;
}

//上传按钮
.btn-default{
  background: green;
}