.container-fluid
  .row
    .col-md-10.col-sm-8.main-content
      .panel.panel-default
        .panel-heading
          .panel-title
          %span所有用户

        .panel-body
          %table.table.table-inverse
            %thead
              %tr
                %th 图片
                %th 姓名
                %th 电话号码
            %tbody
              - @users.each do |user|

                %tr

                  %td#image= image_tag user.image.url

                  %td= user.name

                  %td= user.phone

                  %td
                    = link_to user_path(user), method: :delete, data: { confirm: "Are you sure" } do
                      %i.fa.fa-trash
                      
        =paginate @users