- content_for(:title, @user.name)
.main
  .container
    .row
      .col-md-8.col-md-offset-3
        .panel.panel-default
          .panel-heading
            .panel-title
            %span用户
          .panel-body
            %table.table.table-striped
              %thead
                %tr
                  %th ID
                  %th电话
              %tbody
                %tr
                  %td= @user.id
                  %td= @user.phone